##About Practice Problem: Is this joke funny?
Many online businesses rely on customer reviews and ratings. Explicit feedback is especially important in the entertainment and ecommerce industry where all customer engagements are impacted by these ratings. Netflix relies on such rating data to power its recommendation engine to provide best movie and TV series recommendations that are personalized and most relevant to the user.

This practice problem challenges the participants to predict the ratings for jokes given by the users provided the ratings provided by the same users for another set of jokes. This dataset is taken from the famous jester online Joke Recommender system dataset.

In [ ]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 9.6MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.17.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp36-cp36m-linux_x86_64.whl size=1670909 sha256=78047ed0ab00181c46d8792a4adc22da5fc396cbf7ca922a16da1be291657f18
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import pandas as pd
from surprise import Reader,Dataset
from surprise.model_selection import cross_validate,KFold,train_test_split
from surprise import KNNBasic
from surprise import KNNWithMeans,KNNWithZScore,KNNBaseline
from surprise import SVD,SVDpp
from surprise import BaselineOnly
from surprise import NMF,SlopeOne,CoClustering
from surprise import NormalPredictor
from surprise import accuracy
from surprise.accuracy import rmse
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
%matplotlib inline

In [ ]:
train_data = pd.read_csv("train.csv")
jokes_data = pd.read_csv("jokes.csv")
test_data = pd.read_csv("test.csv")

In [ ]:

df = pd.read_csv('train.csv')
reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(df[['user_id','joke_id','Rating']], reader)
trainingSet = data.build_full_trainset()

In [ ]:
"""
Distribution of Ratings
"""
data = df['Rating'].value_counts().sort_index(ascending=False)
trace = go.Bar(x = data.index,
               text = ['{:.1f} %'.format(val) for val in (data.values / df.shape[0] * 100)],
               textposition = 'auto',
               textfont = dict(color = '#000000'),
               y = data.values,
               )
# Create layout
layout = dict(title = 'Distribution Of {} joke-ratings'.format(df.shape[0]),
              xaxis = dict(title = 'Rating'),
              yaxis = dict(title = 'Count'))
# Create plot
fig = go.Figure(data=[trace], layout=layout)
#iplot(fig)
fig.show(renderer="colab")

In [ ]:
"""
Rating Distribution by Jokes
"""
# Number of ratings per joke
data=df.groupby('joke_id')['Rating'].count().clip(upper=150)
trace=go.Histogram(x=data.values,
                   name='Ratings',
                   xbins=dict(start=0,
                              end=150,
                              size=2))
layout=dict(title ='Distribution of Rating per Jokes',
            xaxis=dict(title='No. of ratings per day'),
            yaxis=dict(title='count'),
            bargap=0.2)

figure=go.Figure(data=[trace],layout=layout)
fig.show(renderer='colab')

In [ ]:
df.head(2)

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094

In [ ]:
df.groupby('joke_id')['Rating'].count().reset_index().sort_values('Rating',ascending=False)[:10]

     joke_id  Rating
7          8    8689
3          4    8636
2          3    8600
4          5    8581
6          7    8556
1          2    8532
5          6    8525
8          9    8524
78        79    5339
103      104    5290

In [ ]:
"""
Rating Distribution by User
"""
# Number of ratings per user

data=df.groupby('user_id')['Rating'].count().clip(upper=150)
trace=go.Histogram(x=data.values,
                   name='Ratings',
                   xbins=dict(start=0,
                              end=150,
                              size=2))
layout=dict(title ='Distribution Of Number of Ratings Per User (Clipped at 50)',
            xaxis=dict(title='ratings per user'),
            yaxis=dict(title='count'),
            bargap=0.2)

figure=go.Figure(data=[trace],layout=layout)
fig.show(renderer='colab')

In [ ]:
df.groupby('user_id')['Rating'].count().reset_index().sort_values('Rating',ascending=False)[:10]

       user_id  Rating
33500    34002      45
21159    21492      42
3061      3100      42
361        366      41
29914    30370      40
40040    40661      40
15675    15929      39
24471    24847      39
36251    36803      39
36223    36774      39

In [ ]:
df.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341121 entries, 0 to 341120
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       341121 non-null  object
 1   user_id  341121 non-null  int64
 2   joke_id  341121 non-null  int64
 3   Rating   341121 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 10.4+ MB

In [ ]:
df.describe()

             user_id        joke_id         Rating
count  341121.000000  341121.000000  341121.000000
mean    20700.840344      63.976601       1.752048
std     11808.463348      44.124420       5.232872
min         1.000000       1.000000     -10.000000
25%     10462.000000      22.000000      -1.750000
50%     21344.000000      62.000000       2.344000
75%     30771.000000     104.000000       5.781000
max     40863.000000     139.000000      10.000000

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.sort_values('Rating',ascending=False).head()

In [ ]:
"""
Surprise Library
"""

"""
Building SVD Model  
"""
svd=SVD(n_epochs=50,lr_all=0.01,reg_all=0.04,n_factors=250)
kf=KFold(n_splits=10,random_state=95)
for x,y in kf.split(data):
  svd.fit(trainingSet)
  pred=svd.test(y)
  rmse(pred,verbose=True)

RMSE: 3.4889
RMSE: 3.4813
RMSE: 3.5047
RMSE: 3.4886
RMSE: 3.4929
RMSE: 3.4728
RMSE: 3.4762
RMSE: 3.5059
RMSE: 3.5116
RMSE: 3.4920

In [ ]:
trainsett=svd.trainset
print(svd.__class__.__name__)

SVD

In [ ]:
"""
Prediction on Test Data 
"""

id=[]
user_id=[]
joke_id=[]
result=[]
result1=[]
for index,row in test_data.iterrows():
  print(index,row)
  id.append(str(row['id'])+'-'+str(row['joke_id'])+'-'+str(row['user_id']))
  result1.append(svd.predict(row['user_id'],row['joke_id']).est)
result=pd.DataFrame({'id':pd.Series(id),'rating':pd.Series(result1)}) 
result[['id','joke_id','user_id']] = result['id'].str.split('-',expand=True)

Streaming output truncated to the last 5000 lines.
user_id      2134
joke_id         8
Name: 536630, dtype: object
536631 id         27471_86
user_id       27471
joke_id          86
Name: 536631, dtype: object
536632 id         3939_119
user_id        3939
joke_id         119
Name: 536632, dtype: object
536633 id         8391_76
user_id       8391
joke_id         76
Name: 536633, dtype: object
536634 id         16088_117
user_id        16088
joke_id          117
Name: 536634, dtype: object
536635 id         28740_3
user_id      28740
joke_id          3
Name: 536635, dtype: object
536636 id         31493_54
user_id       31493
joke_id          54
Name: 536636, dtype: object
536637 id         39028_87
user_id       39028
joke_id          87
Name: 536637, dtype: object
536638 id         37275_105
user_id        37275
joke_id          105
Name: 536638, dtype: object
536639 id         11951_53
user_id       11951
joke_id          53
Name: 536639, dtype: object
536640 id         7629_6
user_id      7629
joke_id         6
Name: 536640, dtype: object
536641 id         11933_98
user_id       11933
joke_id          98
Name: 536641, dtype: object
536642 id         20271_79
user_id       20271
joke_id          79
Name: 536642, dtype: object
536643 id         32785_55
user_id       32785
joke_id          55
Name: 536643, dtype: object
536644 id         37726_3
user_id      37726
joke_id          3
Name: 536644, dtype: object
536645 id         26160_9
user_id      26160
joke_id          9
Name: 536645, dtype: object
536646 id         29458_117
user_id        29458
joke_id          117
Name: 536646, dtype: object
536647 id         39918_137
user_id        39918
joke_id          137
Name: 536647, dtype: object
536648 id         4215_43
user_id       4215
joke_id         43
Name: 536648, dtype: object
536649 id         39338_128
user_id        39338
joke_id          128
Name: 536649, dtype: object
536650 id         28968_8
user_id      28968
joke_id          8
Name: 536650, dtype: object
536651 id         31016_32
user_id       31016
joke_id          32
Name: 536651, dtype: object
536652 id         35475_7
user_id      35475
joke_id          7
Name: 536652, dtype: object
536653 id         13342_6
user_id      13342
joke_id          6
Name: 536653, dtype: object
536654 id         24240_8
user_id      24240
joke_id          8
Name: 536654, dtype: object
536655 id         6235_2
user_id      6235
joke_id         2
Name: 536655, dtype: object
536656 id         11485_52
user_id       11485
joke_id          52
Name: 536656, dtype: object
536657 id         3934_8
user_id      3934
joke_id         8
Name: 536657, dtype: object
536658 id         21963_45
user_id       21963
joke_id          45
Name: 536658, dtype: object
536659 id         27630_79
user_id       27630
joke_id          79
Name: 536659, dtype: object
536660 id         25963_7
user_id      25963
joke_id          7
Name: 536660, dtype: object
536661 id         12552_109
user_id        12552
joke_id          109
Name: 536661, dtype: object
536662 id         1707_4
user_id      1707
joke_id         4
Name: 536662, dtype: object
536663 id         14456_82
user_id       14456
joke_id          82
Name: 536663, dtype: object
536664 id         22342_116
user_id        22342
joke_id          116
Name: 536664, dtype: object
536665 id         23594_29
user_id       23594
joke_id          29
Name: 536665, dtype: object
536666 id         39197_19
user_id       39197
joke_id          19
Name: 536666, dtype: object
536667 id         24424_11
user_id       24424
joke_id          11
Name: 536667, dtype: object
536668 id         11643_15
user_id       11643
joke_id          15
Name: 536668, dtype: object
536669 id         15596_52
user_id       15596
joke_id          52
Name: 536669, dtype: object
536670 id         28512_28
user_id       28512
joke_id          28
Name: 536670, dtype: object
536671 id         40708_9
user_id      40708
joke_id          9
Name: 536671, dtype: object
536672 id         39364_8
user_id      39364
joke_id          8
Name: 536672, dtype: object
536673 id         26652_133
user_id        26652
joke_id          133
Name: 536673, dtype: object
536674 id         7662_124
user_id        7662
joke_id         124
Name: 536674, dtype: object
536675 id         38112_79
user_id       38112
joke_id          79
Name: 536675, dtype: object
536676 id         26551_99
user_id       26551
joke_id          99
Name: 536676, dtype: object
536677 id         26640_139
user_id        26640
joke_id          139
Name: 536677, dtype: object
536678 id         27006_2
user_id      27006
joke_id          2
Name: 536678, dtype: object
536679 id         334_46
user_id       334
joke_id        46
Name: 536679, dtype: object
536680 id         10782_43
user_id       10782
joke_id          43
Name: 536680, dtype: object
536681 id         24306_130
user_id        24306
joke_id          130
Name: 536681, dtype: object
536682 id         7015_79
user_id       7015
joke_id         79
Name: 536682, dtype: object
536683 id         8568_83
user_id       8568
joke_id         83
Name: 536683, dtype: object
536684 id         26708_85
user_id       26708
joke_id          85
Name: 536684, dtype: object
536685 id         25708_83
user_id       25708
joke_id          83
Name: 536685, dtype: object
536686 id         19207_84
user_id       19207
joke_id          84
Name: 536686, dtype: object
536687 id         13572_111
user_id        13572
joke_id          111
Name: 536687, dtype: object
536688 id         6158_58
user_id       6158
joke_id         58
Name: 536688, dtype: object
536689 id         39333_59
user_id       39333
joke_id          59
Name: 536689, dtype: object
536690 id         7403_98
user_id       7403
joke_id         98
Name: 536690, dtype: object
536691 id         10950_26
user_id       10950
joke_id          26
Name: 536691, dtype: object
536692 id         20161_104
user_id        20161
joke_id          104
Name: 536692, dtype: object
536693 id         3239_82
user_id       3239
joke_id         82
Name: 536693, dtype: object
536694 id         31072_4
user_id      31072
joke_id          4
Name: 536694, dtype: object
536695 id         5273_100
user_id        5273
joke_id         100
Name: 536695, dtype: object
536696 id         20864_137
user_id        20864
joke_id          137
Name: 536696, dtype: object
536697 id         32660_16
user_id       32660
joke_id          16
Name: 536697, dtype: object
536698 id         22392_7
user_id      22392
joke_id          7
Name: 536698, dtype: object
536699 id         37803_25
user_id       37803
joke_id          25
Name: 536699, dtype: object
536700 id         36451_11
user_id       36451
joke_id          11
Name: 536700, dtype: object
536701 id         7525_44
user_id       7525
joke_id         44
Name: 536701, dtype: object
536702 id         26089_7
user_id      26089
joke_id          7
Name: 536702, dtype: object
536703 id         17039_88
user_id       17039
joke_id          88
Name: 536703, dtype: object
536704 id         16718_58
user_id       16718
joke_id          58
Name: 536704, dtype: object
536705 id         26769_62
user_id       26769
joke_id          62
Name: 536705, dtype: object
536706 id         33147_120
user_id        33147
joke_id          120
Name: 536706, dtype: object
536707 id         24769_122
user_id        24769
joke_id          122
Name: 536707, dtype: object
536708 id         4557_6
user_id      4557
joke_id         6
Name: 536708, dtype: object
536709 id         39444_2
user_id      39444
joke_id          2
Name: 536709, dtype: object
536710 id         7674_9
user_id      7674
joke_id         9
Name: 536710, dtype: object
536711 id         13561_62
user_id       13561
joke_id          62
Name: 536711, dtype: object
536712 id         17676_116
user_id        17676
joke_id          116
Name: 536712, dtype: object
536713 id         167_5
user_id      167
joke_id        5
Name: 536713, dtype: object
536714 id         12150_98
user_id       12150
joke_id          98
Name: 536714, dtype: object
536715 id         6323_124
user_id        6323
joke_id         124
Name: 536715, dtype: object
536716 id         2193_89
user_id       2193
joke_id         89
Name: 536716, dtype: object
536717 id         22428_113
user_id        22428
joke_id          113
Name: 536717, dtype: object
536718 id         38027_104
user_id        38027
joke_id          104
Name: 536718, dtype: object
536719 id         32134_47
user_id       32134
joke_id          47
Name: 536719, dtype: object
536720 id         1541_13
user_id       1541
joke_id         13
Name: 536720, dtype: object
536721 id         27970_81
user_id       27970
joke_id          81
Name: 536721, dtype: object
536722 id         479_39
user_id       479
joke_id        39
Name: 536722, dtype: object
536723 id         28618_43
user_id       28618
joke_id          43
Name: 536723, dtype: object
536724 id         37719_115
user_id        37719
joke_id          115
Name: 536724, dtype: object
536725 id         32240_124
user_id        32240
joke_id          124
Name: 536725, dtype: object
536726 id         40639_60
user_id       40639
joke_id          60
Name: 536726, dtype: object
536727 id         24994_80
user_id       24994
joke_id          80
Name: 536727, dtype: object
536728 id         27271_133
user_id        27271
joke_id          133
Name: 536728, dtype: object
536729 id         11045_27
user_id       11045
joke_id          27
Name: 536729, dtype: object
536730 id         5292_83
user_id       5292
joke_id         83
Name: 536730, dtype: object
536731 id         36084_59
user_id       36084
joke_id          59
Name: 536731, dtype: object
536732 id         27940_6
user_id      27940
joke_id          6
Name: 536732, dtype: object
536733 id         20986_113
user_id        20986
joke_id          113
Name: 536733, dtype: object
536734 id         1996_136
user_id        1996
joke_id         136
Name: 536734, dtype: object
536735 id         19275_9
user_id      19275
joke_id          9
Name: 536735, dtype: object
536736 id         18053_101
user_id        18053
joke_id          101
Name: 536736, dtype: object
536737 id         4093_8
user_id      4093
joke_id         8
Name: 536737, dtype: object
536738 id         12248_3
user_id      12248
joke_id          3
Name: 536738, dtype: object
536739 id         4025_8
user_id      4025
joke_id         8
Name: 536739, dtype: object
536740 id         26185_25
user_id       26185
joke_id          25
Name: 536740, dtype: object
536741 id         6736_104
user_id        6736
joke_id         104
Name: 536741, dtype: object
536742 id         25147_3
user_id      25147
joke_id          3
Name: 536742, dtype: object
536743 id         2273_48
user_id       2273
joke_id         48
Name: 536743, dtype: object
536744 id         26982_98
user_id       26982
joke_id          98
Name: 536744, dtype: object
536745 id         17802_139
user_id        17802
joke_id          139
Name: 536745, dtype: object
536746 id         13956_115
user_id        13956
joke_id          115
Name: 536746, dtype: object
536747 id         26360_102
user_id        26360
joke_id          102
Name: 536747, dtype: object
536748 id         5081_15
user_id       5081
joke_id         15
Name: 536748, dtype: object
536749 id         239_45
user_id       239
joke_id        45
Name: 536749, dtype: object
536750 id         2959_119
user_id        2959
joke_id         119
Name: 536750, dtype: object
536751 id         23340_25
user_id       23340
joke_id          25
Name: 536751, dtype: object
536752 id         9173_54
user_id       9173
joke_id         54
Name: 536752, dtype: object
536753 id         28423_134
user_id        28423
joke_id          134
Name: 536753, dtype: object
536754 id         1094_18
user_id       1094
joke_id         18
Name: 536754, dtype: object
536755 id         22773_2
user_id      22773
joke_id          2
Name: 536755, dtype: object
536756 id         26067_132
user_id        26067
joke_id          132
Name: 536756, dtype: object
536757 id         16363_47
user_id       16363
joke_id          47
Name: 536757, dtype: object
536758 id         26118_24
user_id       26118
joke_id          24
Name: 536758, dtype: object
536759 id         5936_74
user_id       5936
joke_id         74
Name: 536759, dtype: object
536760 id         18538_25
user_id       18538
joke_id          25
Name: 536760, dtype: object
536761 id         28992_93
user_id       28992
joke_id          93
Name: 536761, dtype: object
536762 id         27609_117
user_id        27609
joke_id          117
Name: 536762, dtype: object
536763 id         10722_9
user_id      10722
joke_id          9
Name: 536763, dtype: object
536764 id         37064_5
user_id      37064
joke_id          5
Name: 536764, dtype: object
536765 id         5397_3
user_id      5397
joke_id         3
Name: 536765, dtype: object
536766 id         3722_86
user_id       3722
joke_id         86
Name: 536766, dtype: object
536767 id         1331_64
user_id       1331
joke_id         64
Name: 536767, dtype: object
536768 id         11676_122
user_id        11676
joke_id          122
Name: 536768, dtype: object
536769 id         34597_111
user_id        34597
joke_id          111
Name: 536769, dtype: object
536770 id         6361_8
user_id      6361
joke_id         8
Name: 536770, dtype: object
536771 id         29605_40
user_id       29605
joke_id          40
Name: 536771, dtype: object
536772 id         9198_79
user_id       9198
joke_id         79
Name: 536772, dtype: object
536773 id         39428_128
user_id        39428
joke_id          128
Name: 536773, dtype: object
536774 id         26841_58
user_id       26841
joke_id          58
Name: 536774, dtype: object
536775 id         29777_119
user_id        29777
joke_id          119
Name: 536775, dtype: object
536776 id         22804_3
user_id      22804
joke_id          3
Name: 536776, dtype: object
536777 id         37126_3
user_id      37126
joke_id          3
Name: 536777, dtype: object
536778 id         22988_78
user_id       22988
joke_id          78
Name: 536778, dtype: object
536779 id         8745_8
user_id      8745
joke_id         8
Name: 536779, dtype: object
536780 id         23509_78
user_id       23509
joke_id          78
Name: 536780, dtype: object
536781 id         13163_96
user_id       13163
joke_id          96
Name: 536781, dtype: object
536782 id         34964_7
user_id      34964
joke_id          7
Name: 536782, dtype: object
536783 id         5428_109
user_id        5428
joke_id         109
Name: 536783, dtype: object
536784 id         37359_105
user_id        37359
joke_id          105
Name: 536784, dtype: object
536785 id         34658_62
user_id       34658
joke_id          62
Name: 536785, dtype: object
536786 id         25444_31
user_id       25444
joke_id          31
Name: 536786, dtype: object
536787 id         6014_67
user_id       6014
joke_id         67
Name: 536787, dtype: object
536788 id         20055_25
user_id       20055
joke_id          25
Name: 536788, dtype: object
536789 id         3661_79
user_id       3661
joke_id         79
Name: 536789, dtype: object
536790 id         15608_36
user_id       15608
joke_id          36
Name: 536790, dtype: object
536791 id         18067_19
user_id       18067
joke_id          19
Name: 536791, dtype: object
536792 id         7881_79
user_id       7881
joke_id         79
Name: 536792, dtype: object
536793 id         33527_79
user_id       33527
joke_id          79
Name: 536793, dtype: object
536794 id         37794_44
user_id       37794
joke_id          44
Name: 536794, dtype: object
536795 id         22015_64
user_id       22015
joke_id          64
Name: 536795, dtype: object
536796 id         21682_96
user_id       21682
joke_id          96
Name: 536796, dtype: object
536797 id         33637_25
user_id       33637
joke_id          25
Name: 536797, dtype: object
536798 id         17802_119
user_id        17802
joke_id          119
Name: 536798, dtype: object
536799 id         27318_132
user_id        27318
joke_id          132
Name: 536799, dtype: object
536800 id         24141_80
user_id       24141
joke_id          80
Name: 536800, dtype: object
536801 id         1895_39
user_id       1895
joke_id         39
Name: 536801, dtype: object
536802 id         38324_99
user_id       38324
joke_id          99
Name: 536802, dtype: object
536803 id         24575_4
user_id      24575
joke_id          4
Name: 536803, dtype: object
536804 id         22642_73
user_id       22642
joke_id          73
Name: 536804, dtype: object
536805 id         39570_62
user_id       39570
joke_id          62
Name: 536805, dtype: object
536806 id         33401_8
user_id      33401
joke_id          8
Name: 536806, dtype: object
536807 id         11544_24
user_id       11544
joke_id          24
Name: 536807, dtype: object
536808 id         21537_47
user_id       21537
joke_id          47
Name: 536808, dtype: object
536809 id         11165_75
user_id       11165
joke_id          75
Name: 536809, dtype: object
536810 id         25683_18
user_id       25683
joke_id          18
Name: 536810, dtype: object
536811 id         40330_11
user_id       40330
joke_id          11
Name: 536811, dtype: object
536812 id         5882_8
user_id      5882
joke_id         8
Name: 536812, dtype: object
536813 id         382_70
user_id       382
joke_id        70
Name: 536813, dtype: object
536814 id         26526_7
user_id      26526
joke_id          7
Name: 536814, dtype: object
536815 id         1925_98
user_id       1925
joke_id         98
Name: 536815, dtype: object
536816 id         37055_15
user_id       37055
joke_id          15
Name: 536816, dtype: object
536817 id         15020_2
user_id      15020
joke_id          2
Name: 536817, dtype: object
536818 id         14624_6
user_id      14624
joke_id          6
Name: 536818, dtype: object
536819 id         545_19
user_id       545
joke_id        19
Name: 536819, dtype: object
536820 id         3948_129
user_id        3948
joke_id         129
Name: 536820, dtype: object
536821 id         19755_8
user_id      19755
joke_id          8
Name: 536821, dtype: object
536822 id         9384_91
user_id       9384
joke_id         91
Name: 536822, dtype: object
536823 id         33366_119
user_id        33366
joke_id          119
Name: 536823, dtype: object
536824 id         29825_100
user_id        29825
joke_id          100
Name: 536824, dtype: object
536825 id         33998_109
user_id        33998
joke_id          109
Name: 536825, dtype: object
536826 id         14852_2
user_id      14852
joke_id          2
Name: 536826, dtype: object
536827 id         22379_12
user_id       22379
joke_id          12
Name: 536827, dtype: object
536828 id         1455_137
user_id        1455
joke_id         137
Name: 536828, dtype: object
536829 id         28041_46
user_id       28041
joke_id          46
Name: 536829, dtype: object
536830 id         28217_78
user_id       28217
joke_id          78
Name: 536830, dtype: object
536831 id         13154_118
user_id        13154
joke_id          118
Name: 536831, dtype: object
536832 id         19382_84
user_id       19382
joke_id          84
Name: 536832, dtype: object
536833 id         38525_98
user_id       38525
joke_id          98
Name: 536833, dtype: object
536834 id         19484_100
user_id        19484
joke_id          100
Name: 536834, dtype: object
536835 id         22964_39
user_id       22964
joke_id          39
Name: 536835, dtype: object
536836 id         16344_85
user_id       16344
joke_id          85
Name: 536836, dtype: object
536837 id         6410_127
user_id        6410
joke_id         127
Name: 536837, dtype: object
536838 id         13707_56
user_id       13707
joke_id          56
Name: 536838, dtype: object
536839 id         16787_122
user_id        16787
joke_id          122
Name: 536839, dtype: object
536840 id         9456_24
user_id       9456
joke_id         24
Name: 536840, dtype: object
536841 id         40496_20
user_id       40496
joke_id          20

In [ ]:
result.head()

          id    rating joke_id user_id
0    6194_11  2.909905      11    6194
1    19356_3  0.000000       3   19356
2   23426_79  2.869830      79   23426
3    40030_3  0.000000       3   40030
4  19806_115  5.000000     115   19806

In [ ]:
endResult = result.drop(['user_id','joke_id'],axis=1)
endResult.columns = ['id','Rating']

In [ ]:
endResult.to_csv("brahm_jokes_submission1.csv",index=False)